In [15]:
ticket_price = [12, 10, 7, 5]

In [2]:
trip_cost = int(input())
student_proportion = input()
total_student = int(input())
list_student_proportion = student_proportion.split(' ')

print(trip_cost)
print(student_proportion)
print(total_student)
print(list_student_proportion)

500
0.1 0.2 0.3 0.4
200
['0.1', '0.2', '0.3', '0.4']

In [3]:
list_student_proportion

['0.1', '0.2', '0.3', '0.4']

In [4]:
student_proportion

'0.1 0.2 0.3 0.4'

In [ ]:
list_student_proportion = [float(proportion) for proportion in list_student_proportion]

print(list_student_proportion)

[0.1, 0.2, 0.3, 0.4]

In [9]:
student_by_year = [i * total_student for i in list_student_proportion]
student_by_year

[20.0, 40.0, 60.0, 80.0]

In [ ]:
print(ticket_price)

[12, 10, 7, 5]

In [ ]:
total_amount = [price * student for price, student in zip(student_by_year, ticket_price)]
total_raise = sum(total_amount) * 0.5
print(total_amount)
print(total_raise)

if total_raise < trip_cost: 
    print("Yes")
else: 
    print("No")

[240.0, 400.0, 420.0, 400.0]
730.0
No

In [43]:
proportion1 = [0.7, 0.1, 0.1, 0.1]
population = 9 

breakdown1 = [x * population for x in proportion1]
print(breakdown1)

breakdown2 = [int(i) for i in breakdown1]
print(breakdown2)

[6.3, 0.9, 0.9, 0.9]
[6, 0, 0, 0]

In [50]:
for i in breakdown2:
    print (i + 2 )

8
2
2
2

In [56]:
ticket_price = [12, 10, 7, 5]
print(f'ticket_price {ticket_price}')

trip_cost = int(input())
student_proportion = input().split()
total_student = int(input())

print(f'trip cost: {trip_cost}')
print(f'input student proportion: {student_proportion}')
print(f'total no of student: {total_student}')

student_proportion = [float(proportion) for proportion in student_proportion]
print(f'list_student_proportion after converting to float {student_proportion}')

student_by_year = [i * total_student for i in student_proportion]
print(f'number of student by year before rounding {student_by_year}')
student_by_year = [int(i) for i in student_by_year]
print(f'number of student by year after rounding {student_by_year}')
total_student_fr_proportion = sum(student_by_year)
print(f'total student calculation {total_student_fr_proportion}')
uncount_student = total_student - total_student_fr_proportion  
most_grade = max(student_by_year)
where = student_by_year.index(most_grade)
student_by_year[where] = student_by_year[where] + uncount_student 

total_amount = 0 

for i in range(len(student_by_year)): 
    total_amount = total_amount + student_by_year[i] * ticket_price[i] 

trip_contribution = total_amount * 0.5
print(f'total amount: {total_amount}')
print(f'trip contribution: {trip_contribution}')

if trip_contribution < trip_cost: 
    print("YES")
else: 
    print("NO")

ticket_price [12, 10, 7, 5]
trip cost: 50
input student proportion: ['0.7', '0.1', '0.1', '0.1']
total no of student: 9
list_student_proportion after converting to float [0.7, 0.1, 0.1, 0.1]
number of student by year before rounding [6.3, 0.9, 0.9, 0.9]
number of student by year after rounding [6, 0, 0, 0]
total student calculation 6
total amount: 108
trip contribution: 54.0
NO

In [54]:
ticket_price = [12, 10, 7, 5]
print(f'ticket_price {ticket_price}')

trip_cost = int(input())
student_proportion = input().split()
total_student = int(input())

print(f'trip cost: {trip_cost}')
print(f'input student proportion: {student_proportion}')
print(f'total no of student: {total_student}')

student_proportion = [float(proportion) for proportion in student_proportion]
print(f'list_student_proportion after converting to float {student_proportion}')

student_by_year = [i * total_student for i in student_proportion]
print(f'number of student by year before rounding {student_by_year}')
student_by_year = [int(i) for i in student_by_year]
print(f'number of student by year after rounding {student_by_year}')
total_student_fr_proportion = sum(student_by_year)
print(f'total student calculation {total_student_fr_proportion}')
uncount_student = total_student - total_student_fr_proportion  
most_grade = max(student_by_year)
where = student_by_year.index(most_grade)
student_by_year[where] = student_by_year[where] + uncount_student 

print(type(student_by_year))
print(student_by_year)

ticket_price [12, 10, 7, 5]
trip cost: 50
input student proportion: ['0.7', '0.1', '0.1', '0.1']
total no of student: 9
list_student_proportion after converting to float [0.7, 0.1, 0.1, 0.1]
number of student by year before rounding [6.3, 0.9, 0.9, 0.9]
number of student by year after rounding [6, 0, 0, 0]
total student calculation 6
<class 'list'>
[9, 0, 0, 0]

In [ ]:
ticket_price = [12, 10, 7, 5]
print(f'ticket_price {ticket_price}')

for dataset in range(2):
    trip_cost = int(input())
    student_proportion = input()
    total_student = int(input())
    list_student_proportion = student_proportion.split(' ')

    print(f'trip cost: {trip_cost}')
    print(f'input student proportion: {student_proportion}')
    print(f'total no of student: {total_student}')
    print(f'convert student proportion to list: {list_student_proportion}')

    list_student_proportion = [float(proportion) for proportion in list_student_proportion]
    print(f'list_student_proportion after converting to float {list_student_proportion}')

    ticket_price = [12, 10, 7, 5]
    print(f'ticket_price {ticket_price}')

    student_by_year = [i * total_student for i in list_student_proportion]
    print(f'number of student by year {student_by_year}')

    total_amount = [price * student for price, student in zip(student_by_year, ticket_price)]
    trip_contribution = sum(total_amount) * 0.5
    print(f'total amount: {total_amount}')
    print(f'trip contribution: {trip_contribution}')

    if trip_contribution < trip_cost: 
        print("YES")
    else: 
        print("NO")

ticket_price [12, 10, 7, 5]
trip cost: 500
input student proportion: 0.2 0.3 0.1 0.4
total no of student: 100
convert student proportion to list: ['0.2', '0.3', '0.1', '0.4']
list_student_proportion after converting to float [0.2, 0.3, 0.1, 0.4]
ticket_price [12, 10, 7, 5]
number of student by year [20.0, 30.0, 10.0, 40.0]
total amount: [240.0, 300.0, 70.0, 200.0]
trip contribution: 405.0
YES
trip cost: 1000
input student proportion: 0.1 0.2 0.3 0.4
total no of student: 200
convert student proportion to list: ['0.1', '0.2', '0.3', '0.4']
list_student_proportion after converting to float [0.1, 0.2, 0.3, 0.4]
ticket_price [12, 10, 7, 5]
number of student by year [20.0, 40.0, 60.0, 80.0]
total amount: [240.0, 400.0, 420.0, 400.0]
trip contribution: 730.0
YES

In [ ]:
ticket_price = [12, 10, 7, 5]
for dataset in range(2):
    trip_cost = int(input())
    student_proportion = input()
    total_student = int(input())
    list_student_proportion = student_proportion.split(' ')
    list_student_proportion = [float(proportion) for proportion in list_student_proportion]
    student_by_year = [i * total_student for i in list_student_proportion]
    total_amount = [price * student for price, student in zip(student_by_year, ticket_price)]
    trip_contribution = sum(total_amount) * 0.5
    if trip_contribution < trip_cost: 
        print("YES")
    else: 
        print("NO")

In [37]:
YEAR_COSTS = [12, 10, 7, 5]


for dataset in range(1):
    trip_cost = int(input())
    proportions = input().split()
    print(f'proportions begin {proportions}')
    num_students = int(input())

    for i in range(len(proportions)):
        proportions[i] = float(proportions[i])

    students_per_year = []

    for proportion in proportions:
        students = int(num_students * proportion)
        students_per_year.append(students)
        print(f'student per year before{students_per_year}')

    counted = sum(students_per_year)
    uncounted = num_students - counted
    most = max(students_per_year)
    where = students_per_year.index(most)
    students_per_year[where] = students_per_year[where] + uncounted
    print(f'student per year after{students_per_year}')

    total_raised = 0

    for i in range(len(students_per_year)):
        total_raised = total_raised + students_per_year[i] * YEAR_COSTS[i]

    if total_raised / 2 < trip_cost:
        print('YES')
    else:
        print('NO')

proportions begin ['0.7', '0.1', '0.1', '0.1']
student per year before[6]
student per year before[6, 0]
student per year before[6, 0, 0]
student per year before[6, 0, 0, 0]
student per year after[9, 0, 0, 0]
NO

In [8]:
a = [1, 2, 4, 5]

b = 10 

c = [i * b for i in a]
print(c)

[10, 20, 40, 50]

In [ ]:
print(b)

In [ ]:

c = [1, 2, 4, 5]

d = [10, 20] 

e= [ * d for i in a]

print(e)

[[10, 20], [10, 20, 10, 20], [10, 20, 10, 20, 10, 20, 10, 20], [10, 20, 10, 20, 10, 20, 10, 20, 10, 20]]

In [ ]:
a = [1, 2, 4, 5]
b = [2, 3, 4, 5]

TypeError: '<' not supported between instances of 'int' and 'range'

In [ ]:
### final submission: 
ticket_price = [12, 10, 7, 5]


for dataset in range(10):
    trip_cost = int(input())
    student_proportion = input().split()
    total_student = int(input())
    student_proportion = [float(proportion) for proportion in student_proportion]


    student_by_year = [i * total_student for i in student_proportion]
    student_by_year = [int(i) for i in student_by_year]
    total_student_fr_proportion = sum(student_by_year)

    uncount_student = total_student - total_student_fr_proportion  
    most_grade = max(student_by_year)
    where = student_by_year.index(most_grade)
    student_by_year[where] = student_by_year[where] + uncount_student 

    total_amount = 0 

    for i in range(len(student_by_year)): 
        total_amount = total_amount + student_by_year[i] * ticket_price[i] 

    trip_contribution = total_amount * 0.5

    if trip_contribution < trip_cost: 
        print("YES")
    else: 
        print("NO")