DMOJ problem ccc18s1

In [1]:
lst = [2, 3, 4, 6]
total = 0  
i = 1 

while i <= len(lst):
    print(f'this is {i}')
    total = total + i 
    i = i + 1

print(total)

this is 1
this is 2
this is 3
this is 4
10

In [3]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
string = '124324asvadb'

In [5]:
string.isalnum()

True

In [6]:
string.center()

TypeError: center expected at least 1 argument, got 0

In [7]:
help(''.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [8]:
string.count()

TypeError: count() takes at least 1 argument (0 given)

In [9]:
string.count('2')

2

In [10]:
string.count(2)

TypeError: must be str, not int

In [11]:
string.count('a')

2

In [12]:
string

'124324asvadb'

In [13]:
string.count('b')

1

In [14]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
help([].remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [16]:
'cave'.center(8,'x')

'xxcavexx'

In [17]:
'cave'.center(6,'x')

'xcavex'

In [19]:
'cave'.center(3,'x')

'cave'

In [20]:
positions = []
positions.append(29)

In [21]:
positions

[29]

In [22]:
positions.append(50)

In [23]:
positions

[29, 50]

In [2]:
n = int(input())

positions = []

for i in range(n): 
    positions.append(int(input()))

positions.sort()

left = (positions[1] - positions[0]) /2 
right = (positions[2] - positions[1]) /2  
min_size = left  + right  

for i in range(2, n-1):
    left = (positions[i] - positions[i-1]) /2 
    right = (positions[i+1] - positions[i]) /2  
    size = left + right 
    if size < min_size:
        min_size = size 

print(min_size)

0.0

In [27]:
n = int(input())

positions = []

for i in range(n):
    positions.append(int(input()))

positions.sort()

sizes = []

for i in range(1, n - 1):
    left = (positions[i] - positions[i - 1]) / 2
    right = (positions[i + 1] - positions[i]) / 2
    size = left + right
    sizes.append(size)

min_size = min(sizes)
print(min_size)

2.5

In [ ]:
case = [10, 20, 30, 40, 50, 60, 70]
drop_value = [1, 3, 5]
remove_value = []
for i in drop_value:
    # print(i)
    # print(case[i-1])
    remove_value.append(case[i-1])
    # print(remove_value)
    # print(f'before remove{case}')
    # case.remove(case[i-1])
    # print(f'after remove{case}')
for i in remove_value: 
    case.remove(i)
    print(case)

avg = case.sum()

[20, 30, 40, 50, 60, 70]
[20, 40, 50, 60, 70]
[20, 40, 60, 70]

In [74]:
test = [1, 2, 3]
len_test = len(test)
total = sum(test)
avg = total / len_test
print(total)
print(len_test)
print(avg)

6
3
2.0

In [50]:
case1 = [20, 30]
case2 = [10, 20]
case3 = case1 + case2
print(case3)

[20, 30, 10, 20]

In [ ]:
case = [100, 500, 1000, 5000, 10000, 25000, 50000, 100000, 500000, 1000000]
drop_value = [1, 3, 5]
remove_value = []
for i in drop_value:
    remove_value.append(case[i-1])
for i in remove_value: 
    case.remove(i)
    # print(case)

total = sum(case)
len_case  = len(case)
avg = total/len_case

print(remove_value)
print 
print(avg)

[100, 1000, 10000]
[500, 5000, 25000, 50000, 100000, 500000, 1000000]
240071.42857142858

In [81]:
n = int(input())
case_open = []
for i in range(n): 
    case_open.append(int(input()))
bank_offer = int(input())

print(n)
print(case_open)
print(bank_offer)

5
[1, 2, 3, 4, 5]
200000

In [83]:
n = int(input())
case_open = []
for i in range(n): 
    case_open.append(int(input()))
bank_offer = int(input())
case = [100, 500, 1000, 5000, 10000, 25000, 50000, 100000, 500000, 1000000]
remove_value = []

for i in case_open:
    remove_value.append(case[i-1])
for i in remove_value: 
    case.remove(i)
    # print(case)

total = sum(case)
len_case  = len(case)
avg = total/len_case

if avg > bank_offer:
    print('no deal')
else: 
    print('deal')

deal

DMOJ ecoo17r1p1

DMOJ ecoo17t3p1

In [1]:
grid = [[1, 13, 2, 1, 1, 8],
        [2, 12, 10, 5, 11, 4],
        [39, 6, 13, 52, 3, 3],
        [15, 8, 6, 2, 7, 14]]

In [2]:
grid

[[1, 13, 2, 1, 1, 8],
 [2, 12, 10, 5, 11, 4],
 [39, 6, 13, 52, 3, 3],
 [15, 8, 6, 2, 7, 14]]

In [3]:
grid[0]

[1, 13, 2, 1, 1, 8]

In [4]:
grid[0][1]

13

In [5]:
grid[2]

[39, 6, 13, 52, 3, 3]

In [ ]:
grid[1][2]

10

In [ ]:
## this is to pick out the value of column [1] from list of list 

column = []
for i in range(len(grid)):
    column.append(grid[i][1])

print(column)

[13, 12, 6, 8]

In [8]:
sum(grid[0])

26

In [9]:
total = 0 
for i in range(len(grid)):
    total += i 
    print(total)

0
1
3
6

In [10]:
total = 0 
for i in grid[0]:
    total += i 
    print(total)

1
14
16
17
18
26

In [12]:
column_total = 0 
for i in range(len(grid)):
    column_total += grid[i][1]
    print(f'accumulated column {column_total}')

accumulated column 13
accumulated column 25
accumulated column 31
accumulated column 39

In [ ]:
lst = [[1, 1 ], [2, 3, 4]]

for i in range(len (lst)):
    print(i)

0
1

In [22]:
lst = [[1, 1 ], [2, 3, 4]]
x = 0
for i in range(len (lst)):
    for j in range(len(lst[0])):
        print(f'i= {i}')
        print(f'j= {j}')
        x = x + lst[i][j]
        print(f'each loop {x}')

print(f'final {x}')

i= 0
j= 0
each loop 1
i= 0
j= 1
each loop 2
i= 1
j= 0
each loop 4
i= 1
j= 1
each loop 7
final 7

In [23]:
lst = [[5,10],[15,20]]
x = lst[0]

In [24]:
x

[5, 10]

In [25]:
x[0] = 99
x

[99, 10]

In [26]:
x[0][1]

TypeError: 'int' object is not subscriptable

In [27]:
x[1]

10

In [28]:
x

[99, 10]

In [29]:
x = x + [20]
x

[99, 10, 20]

# Problem 13: Baker Bonus  
DMOJ ecoo17r3p1

Requirements: 
- for each day, total sales across all franchisees is a multiple of 13. For example: if all franchisees sold 26 baked goods. they will get 2 bonuses. as 26/13 = 2 
- for each franchisee, total sales across all days is a multiple of 13. that multiple will be given as bonuses. For example, a franchise sold a total of 39 baked goods will add 3 bonuses as (39/13) 
- Input: 
  - a line containing 1) number of franchisees (f) and 2) number of days (d). separated by a space. f is between 4 and 130, and d is between 2 and 4745   
  - d lines, one per day, containing f integers separated by spaces. each integer specifies a number of sales. the first of these lines give the sales for each franchise on the first day, the second gives the sales for each franchise on the second day  
    -  line 1 = 3 5 
    -  line 2 = 1 2 3 (sales of day 1 )
    -  line 3 = 1 2 3 (sales of day 2 )
    -  line 4 = 1 2 3 (sales of day 3 )
    -  line 5 = 1 2 3 (sales of day 4 ) 
    -  line 6 = 1 2 3 (sales of day 5 )
- Output: calculate total number of bonus   
   - sum of each column. if sum is multiple of 13 is receiving bonus by total divided by  13 
   - sum of each row. if sume of a row is multiple of 13, they recieve 2 bonus 
   - sum of all bonus

sample: 

6 - 4  

1 - 13 - 2 - 1 - 1 - 8 

2 - 12 - 10 - 5 - 11 - 4

39 - 6 - 13 - 52 - 3 - 3 

15 - 8 - 6 - 2 - 7 - 14

# Nested lists

In [4]:
grid = [[1, 13, 2, 1, 1, 8],
        [2, 12, 10, 5, 11, 4],
        [39, 6, 13, 52, 3, 3],
        [15, 8, 6, 2, 7, 14]]

In [5]:
grid

[[1, 13, 2, 1, 1, 8],
 [2, 12, 10, 5, 11, 4],
 [39, 6, 13, 52, 3, 3],
 [15, 8, 6, 2, 7, 14]]

In [7]:
grid[0]

[1, 13, 2, 1, 1, 8]

In [8]:
grid[0][1]

13

In [9]:
grid[1]

[2, 12, 10, 5, 11, 4]

In [10]:
grid[2]

[39, 6, 13, 52, 3, 3]

In [11]:
grid[1][2]

10

In [13]:
column = []
for i in range(len(grid)):
    column.append(grid[i][1])

column

[13, 12, 6, 8]

In [14]:
sum(grid[0])

26

In [15]:
sum(grid[1])

44

In [16]:
sum(grid[2])

116

In [17]:
sum(grid[3])

52

In [18]:
sum(grid[4])

IndexError: list index out of range

In [ ]:
total_row = 0 
for value in grid[0]:
    total_row += value 
total_row 

# this will get each value from row  0, add them up

26

In [23]:
for value in grid[0]:
    print (value)

1
13
2
1
1
8

In [ ]:
total_column = 0  
for i in range(len(grid)):
    total_column += grid[i][0]
total_column

# this will get value of each column, loop through each row in the len(grid), then search for value in [0] position

57

In [22]:
len(grid)

4

In [28]:
total

26

In [26]:
total2

57

In [29]:
len(grid[0])

6

In [37]:
lst = [[1,1],
       [2,3,4]]
x = 0  
for i in range(len(lst)):
    print(f'i is {i}')
    for j in range(len(lst[0])):
        print(f'j is {j}')
        x = x + lst[i][j]
        print(f'value from lst = {lst[i][j]}')
        print(f'x is {x}')

i is 0
j is 0
value from lst = 1
x is 1
j is 1
value from lst = 1
x is 2
i is 1
j is 0
value from lst = 2
x is 4
j is 1
value from lst = 3
x is 7

In [ ]:
lst = input().split()
franchisees = int(lst[0])
days = int(lst[1])
print(lst)
print(franchisees)
print(days)
grid = []

for i in range(days):  
    row = input().split()
    for j in range(franchisees):
        row[j]=int(row[j])
    grid.append(row) 

print(f'grid = {grid}')

bonuses = 0
for row in grid:
    total = sum(row)
    if total % 13 == 0: 
        bonuses += total //13 

for col_index in range(franchisees):
    total= 0
    for row_index in range(days):
        total +=grid[row_index][col_index]
    if total % 13 ==0:
        bonuses += total//13 
    
print(f'bonuses = {bonuses}')

['6', '4']
6
4
grid = [[1, 13, 2, 1, 1, 8], [2, 12, 10, 5, 11, 4], [39, 6, 13, 52, 3, 3], [15, 8, 6, 2, 7, 14]]
bonuses = 9

In [52]:
grid

[]

In [57]:
print (26 % 13)

0

In [58]:
print (27 % 13)

1

In [59]:
print (30 % 13)

4

In [60]:
print (30 // 13)

2

In [67]:
for i in range(27):
    print (f'i = {i}')
    print (f'result {i%13}')

i = 0
result 0
i = 1
result 1
i = 2
result 2
i = 3
result 3
i = 4
result 4
i = 5
result 5
i = 6
result 6
i = 7
result 7
i = 8
result 8
i = 9
result 9
i = 10
result 10
i = 11
result 11
i = 12
result 12
i = 13
result 0
i = 14
result 1
i = 15
result 2
i = 16
result 3
i = 17
result 4
i = 18
result 5
i = 19
result 6
i = 20
result 7
i = 21
result 8
i = 22
result 9
i = 23
result 10
i = 24
result 11
i = 25
result 12
i = 26
result 0

In [68]:
for i in range(27):
    print (f'i = {i}')
    print (f'result {i / 13}')

i = 0
result 0.0
i = 1
result 0.07692307692307693
i = 2
result 0.15384615384615385
i = 3
result 0.23076923076923078
i = 4
result 0.3076923076923077
i = 5
result 0.38461538461538464
i = 6
result 0.46153846153846156
i = 7
result 0.5384615384615384
i = 8
result 0.6153846153846154
i = 9
result 0.6923076923076923
i = 10
result 0.7692307692307693
i = 11
result 0.8461538461538461
i = 12
result 0.9230769230769231
i = 13
result 1.0
i = 14
result 1.0769230769230769
i = 15
result 1.1538461538461537
i = 16
result 1.2307692307692308
i = 17
result 1.3076923076923077
i = 18
result 1.3846153846153846
i = 19
result 1.4615384615384615
i = 20
result 1.5384615384615385
i = 21
result 1.6153846153846154
i = 22
result 1.6923076923076923
i = 23
result 1.7692307692307692
i = 24
result 1.8461538461538463
i = 25
result 1.9230769230769231
i = 26
result 2.0

In [69]:
for i in range(27):
    print (f'i = {i}')
    print (f'result {i //13}')

i = 0
result 0
i = 1
result 0
i = 2
result 0
i = 3
result 0
i = 4
result 0
i = 5
result 0
i = 6
result 0
i = 7
result 0
i = 8
result 0
i = 9
result 0
i = 10
result 0
i = 11
result 0
i = 12
result 0
i = 13
result 1
i = 14
result 1
i = 15
result 1
i = 16
result 1
i = 17
result 1
i = 18
result 1
i = 19
result 1
i = 20
result 1
i = 21
result 1
i = 22
result 1
i = 23
result 1
i = 24
result 1
i = 25
result 1
i = 26
result 2