In [6]:
import pandas as pd
import numpy as np

In [4]:
s = 'this is a test 123 456'.split()
s

['this', 'is', 'a', 'test', '123', '456']

In [10]:
filepath = r"C:\Users\dqthi\Downloads\pandas-workout-data\data\alice-in-wonderland.txt"
s = pd.Series(open(filepath).read().split())

print (s)

0             ï»¿The
1          Project
2        Gutenberg
3            EBook
4               of
           ...
12758           to
12759         hear
12760        about
12761          new
12762      eBooks.
Length: 12763, dtype: object

In [11]:
s.value_counts() # to find the most common words

the            732
and            362
a              321
to             311
of             300
              ...
present--at      1
morning,         1
then."           1
sternly.         1
newsletter       1
Name: count, Length: 3408, dtype: int64

In [12]:
s.str.lower().value_counts().head(10)

the    792
and    379
a      325
to     318
of     313
she    232
in     222
was    160
you    141
it     136
Name: count, dtype: int64

In [14]:
import string

In [17]:
(
    s
    .str
    .lower()
    .str
    .strip(string.punctuation)
    .value_counts()
    .head(10)
)

the    807
and    404
a      328
to     327
of     318
she    237
in     227
it     183
you    171
was    168
Name: count, dtype: int64

In [19]:
s.str.contains('^[A-Z]\W*$',regex=True)

0        False
1        False
2        False
3        False
4        False
         ...
12758    False
12759    False
12760    False
12761    False
12762    False
Length: 12763, dtype: bool

In [20]:
(
    s
    .loc[s.str.contains('^[A-Z]\w*$', regex=True)]
)

1          Project
2        Gutenberg
3            EBook
5            Alice
9            Lewis
           ...
12729      Project
12738      Project
12739    Gutenberg
12740     Literary
12741      Archive
Length: 1100, dtype: object

In [21]:
(
    s
    .loc[s.str.strip(string.punctuation )
    .str
    .contains('^[A-Z]\w*$', regex=True)]
    .count()
)

1686

In [22]:
def count_vowels(one_word):
    total = 0
    for one_letter in one_word.lower():
        if one_letter in 'aeiou':
            total += 1

    return total

In [23]:
s.apply(count_vowels)

0        1
1        2
2        3
3        3
4        1
        ..
12758    1
12759    2
12760    3
12761    1
12762    3
Length: 12763, dtype: int64

In [24]:
s.apply(count_vowels).mean()

1.66379377889211