# Note

## Key concepts need to know

In [ ]:
# `input`: prompts the user to enter a string, and returns a string 
x = input('Enter your name')

In [3]:
x

'Hello'

In [13]:
# dict: python's dict type for storing key-value pairs. `dict` can also be used to create a new dict 
## Use a comma-separated list of key: value pairs within braces:
d = {'a':1, 'b':2}
d

{'a': 1, 'b': 2}

In [12]:
d['a']

1

In [11]:
## use type constructor: 
d1 = dict([('foo', 100),('bar',200)])
d1

{'foo': 100, 'bar': 200}

In [10]:
## use a dict comprehension:
d2 = {x: x ** 2 for x in range(10)}
d2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [16]:
# `dict.get` just like d[k] except that it return None(or the second, optional argument) if k isnnt in d  
y = d.get('a')
y

1

In [19]:
y = d.get('b',10)
y

2

In [22]:
# dict.items: return an iterator that return a key-value pair (as a tuple) with each iteration  
for key, value in d.items():
    print(f'key = {key}')
    print(f'value = {value}')

key = a
value = 1
key = b
value = 2

In [27]:
# `set`: python's set type for storing unique, hashable items. `set` can also be used to create a new set  
s = {1, 2, 3}
s

{1, 2, 3}

In [28]:
# `set.add` to add one item to a set 
s.add(10)
s

{1, 2, 3, 10}

In [30]:
# `set.update` to add one or more iterables to a set 
s.update([10, 20, 30, 40, 50])
s

{1, 2, 3, 10, 20, 30, 40, 50}

In [31]:
menu = {'sandwich':10, 'tea':7, 'salad':9}

In [32]:
def restaurant():
    total = 0 
    while True:
        order = input('Order: ').strip()
        if not order:
            break 
        if order in menu:
            price = menu[order]
            total += price
            print(f'{order} is {price}, total is {total}')
        else: 
            print(f'we are out of {order}')
    print(f'Your total is {total}')

restaurant()

we are out of coffee
we are out of bia
salad is 9, total is 9
salad is 9, total is 18
tea is 7, total is 25
Your total is 25