In [1]:
import pandas as pd

In [6]:
work_filename = r'c:\Users\dqthi\Downloads\lfsa_ewhun2-defaultview_spreadsheet.xlsx'
work_df = pd.read_excel(work_filename, 
                        sheet_name='Sheet 1',
                        header=None,
                        skiprows=14,
                        index_col=0,
                        na_values=[':','not available'],
                        nrows=38, 
                        names=range(2015,2025) )

C:\Users\dqthi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [7]:
work_df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
European Union - 27 countries (from 2020),37.4,37.4,37.4,37.4,37.3,37.2,37.2,37.3,37.1,37.1
Euro area – 20 countries (from 2023),36.7,36.7,36.7,36.7,36.7,36.6,36.6,36.6,36.5,36.4
Belgium,37.1,37.1,37.6,37.3,37.3,37.3,36.7,36.7,36.4,36.2
Bulgaria,40.9,40.8,40.8,40.7,40.5,40.4,40.4,40.2,40.1,40.0
Czechia,40.7,40.6,40.4,40.4,40.3,40.2,39.7,39.8,39.6,39.4
Denmark,33.9,33.7,33.7,33.7,33.5,33.6,34.6,34.4,33.9,33.5
Germany,35.5,35.5,35.4,35.4,35.3,35.2,35.3,35.2,34.9,34.8
Estonia,39.0,38.8,38.8,38.6,38.4,38.2,38.0,37.8,37.7,37.8
Ireland,35.9,35.9,36.3,36.5,36.5,36.6,36.2,36.3,35.8,35.7
Greece,42.2,42.2,42.0,42.0,41.7,41.7,41.3,41.0,40.9,41.0
Spain,37.8,37.8,37.7,37.7,37.5,37.5,37.4,37.7,37.6,37.5
France,37.3,37.4,37.3,37.4,37.5,37.5,37.0,37.2,37.2,37.1
Croatia,39.8,39.6,39.8,39.7,39.9,39.8,39.7,39.6,39.8,39.6
Italy,37.1,37.0,37.2,37.3,37.2,37.0,37.3,37.3,37.4,37.2
Cyprus,39.6,39.3,39.4,39.4,39.5,39.3,39.0,39.4,39.8,39.9
Latvia,39.2,38.9,39.0,39.0,38.8,38.8,38.8,39.0,38.9,38.8
Lithuania,38.5,38.6,38.7,38.9,39.0,39.1,39.1,39.2,39.1,39.2
Luxembourg,37.5,37.5,37.4,37.7,37.9,37.5,38.1,38.0,37.9,37.8
Hungary,39.9,39.8,39.9,39.8,39.7,39.5,39.5,39.6,39.6,39.5
Malta,38.7,38.8,39.0,39.2,39.8,39.8,39.3,39.0,39.0,39.1
Netherlands,30.4,30.6,30.6,30.7,30.8,30.6,31.5,31.7,31.6,31.6
Austria,36.9,36.8,36.7,36.7,36.7,36.6,36.1,35.9,35.9,35.7
Poland,40.9,40.8,40.6,40.6,40.5,40.3,40.4,40.4,40.2,40.1
Portugal,40.1,39.9,40.0,40.0,39.9,39.7,39.9,39.9,39.8,39.7
Romania,40.0,40.0,39.9,39.8,40.0,39.9,40.2,40.2,40.1,40.0
Slovenia,39.4,39.5,39.3,39.4,39.6,39.6,39.6,39.5,39.4,39.4
Slovakia,40.3,40.1,39.9,40.1,40.2,40.0,39.6,39.6,39.6,39.5
Finland,37.2,37.0,37.1,37.2,37.0,36.9,35.9,35.7,35.7,35.9
Sweden,36.8,36.9,36.8,36.9,36.9,36.8,38.4,38.4,38.3,38.3
Iceland,39.8,39.5,39.3,39.4,39.3,38.6,38.3,38.2,38.3,38.1
Norway,33.9,34.0,34.1,34.0,33.9,33.9,34.4,34.5,34.5,34.7
Switzerland,35.4,35.3,35.3,35.3,35.2,35.2,36.1,36.1,36.1,36.0
United Kingdom,37.1,37.0,37.0,36.9,37.0,NaN,NaN,NaN,NaN,NaN
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,41.6,41.8,41.9,41.7
Montenegro,43.7,43.4,43.3,44.2,44.5,44.4,NaN,NaN,NaN,NaN
North Macedonia,41.9,41.7,42.5,42.3,41.5,40.9,NaN,NaN,NaN,NaN
Serbia,43.6,43.4,43.0,43.0,42.8,42.7,43.1,43.0,42.6,42.2
Türkiye,47.6,47.0,46.6,45.9,45.6,44.7,45.3,45.1,45.0,44.2

In [9]:
work_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, European Union - 27 countries (from 2020) to Türkiye
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2015    37 non-null     float64
 1   2016    37 non-null     float64
 2   2017    37 non-null     float64
 3   2018    37 non-null     float64
 4   2019    37 non-null     float64
 5   2020    36 non-null     float64
 6   2021    35 non-null     float64
 7   2022    35 non-null     float64
 8   2023    35 non-null     float64
 9   2024    35 non-null     float64
dtypes: float64(10)
memory usage: 3.3+ KB

In [11]:
work_df.filter(regex='^Euro', axis='rows')

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
European Union - 27 countries (from 2020),37.4,37.4,37.4,37.4,37.3,37.2,37.2,37.3,37.1,37.1
Euro area – 20 countries (from 2023),36.7,36.7,36.7,36.7,36.7,36.6,36.6,36.6,36.5,36.4

In [12]:
work_df.filter(regex='^Euro', axis='rows').T

,European Union - 27 countries (from 2020),Euro area – 20 countries (from 2023)
2015,37.4,36.7
2016,37.4,36.7
2017,37.4,36.7
2018,37.4,36.7
2019,37.3,36.7
2020,37.2,36.6
2021,37.2,36.6
2022,37.3,36.6
2023,37.1,36.5
2024,37.1,36.4

## In 2024 (the most recent year for which we have data), which five countries worked the greatest and least number of hours? Which five countries have most increased the number of hours worked (as a percentage) since 2015, and which have decreased?

In [13]:
(
    work_df[2024]
)

European Union - 27 countries (from 2020)    37.1
Euro area – 20 countries (from 2023)         36.4
Belgium                                      36.2
Bulgaria                                     40.0
Czechia                                      39.4
Denmark                                      33.5
Germany                                      34.8
Estonia                                      37.8
Ireland                                      35.7
Greece                                       41.0
Spain                                        37.5
France                                       37.1
Croatia                                      39.6
Italy                                        37.2
Cyprus                                       39.9
Latvia                                       38.8
Lithuania                                    39.2
Luxembourg                                   37.8
Hungary                                      39.5
Malta                                        39.1
Netherlands                                  31.6
Austria                                      35.7
Poland                                       40.1
Portugal                                     39.7
Romania                                      40.0
Slovenia                                     39.4
Slovakia                                     39.5
Finland                                      35.9
Sweden                                       38.3
Iceland                                      38.1
Norway                                       34.7
Switzerland                                  36.0
United Kingdom                                NaN
Bosnia and Herzegovina                       41.7
Montenegro                                    NaN
North Macedonia                               NaN
Serbia                                       42.2
Türkiye                                      44.2
Name: 2024, dtype: float64

In [14]:
(
    work_df
    [2024]
    .agg(['nlargest','nsmallest'])
)

                        nlargest  nsmallest
Türkiye                     44.2        NaN
Serbia                      42.2        NaN
Bosnia and Herzegovina      41.7        NaN
Greece                      41.0        NaN
Poland                      40.1        NaN
Netherlands                  NaN       31.6
Denmark                      NaN       33.5
Norway                       NaN       34.7
Germany                      NaN       34.8
Ireland                      NaN       35.7

In [15]:
(
    work_df
    [[2015, 2024]]
    .pct_change(axis='columns', fill_method=None)
    [2024]
    .agg(['nlargest', 'nsmallest'])
)

             nlargest  nsmallest
Sweden       0.040761        NaN
Netherlands  0.039474        NaN
Norway       0.023599        NaN
Lithuania    0.018182        NaN
Switzerland  0.016949        NaN
Türkiye           NaN  -0.071429
Iceland           NaN  -0.042714
Finland           NaN  -0.034946
Austria           NaN  -0.032520
Serbia            NaN  -0.032110

In [16]:
(
    work_df
    [[2015, 2024]]
    .pct_change(axis='columns', fill_method=None)
    [2024]
    .agg(['nlargest', 'nsmallest'])
    .map(lambda x: f'{x:0.2%}')
)

            nlargest nsmallest
Sweden         4.08%      nan%
Netherlands    3.95%      nan%
Norway         2.36%      nan%
Lithuania      1.82%      nan%
Switzerland    1.69%      nan%
Türkiye         nan%    -7.14%
Iceland         nan%    -4.27%
Finland         nan%    -3.49%
Austria         nan%    -3.25%
Serbia          nan%    -3.21%

## Calculate the percentage change in hours worked for each European country, in each three-year period. That is, calculate the mean number of hours worked in each country for each three-year period

In [17]:
(
    work_df
    .iloc[2:]
)

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Belgium,37.1,37.1,37.6,37.3,37.3,37.3,36.7,36.7,36.4,36.2
Bulgaria,40.9,40.8,40.8,40.7,40.5,40.4,40.4,40.2,40.1,40.0
Czechia,40.7,40.6,40.4,40.4,40.3,40.2,39.7,39.8,39.6,39.4
Denmark,33.9,33.7,33.7,33.7,33.5,33.6,34.6,34.4,33.9,33.5
Germany,35.5,35.5,35.4,35.4,35.3,35.2,35.3,35.2,34.9,34.8
Estonia,39.0,38.8,38.8,38.6,38.4,38.2,38.0,37.8,37.7,37.8
Ireland,35.9,35.9,36.3,36.5,36.5,36.6,36.2,36.3,35.8,35.7
Greece,42.2,42.2,42.0,42.0,41.7,41.7,41.3,41.0,40.9,41.0
Spain,37.8,37.8,37.7,37.7,37.5,37.5,37.4,37.7,37.6,37.5
France,37.3,37.4,37.3,37.4,37.5,37.5,37.0,37.2,37.2,37.1
Croatia,39.8,39.6,39.8,39.7,39.9,39.8,39.7,39.6,39.8,39.6
Italy,37.1,37.0,37.2,37.3,37.2,37.0,37.3,37.3,37.4,37.2
Cyprus,39.6,39.3,39.4,39.4,39.5,39.3,39.0,39.4,39.8,39.9
Latvia,39.2,38.9,39.0,39.0,38.8,38.8,38.8,39.0,38.9,38.8
Lithuania,38.5,38.6,38.7,38.9,39.0,39.1,39.1,39.2,39.1,39.2
Luxembourg,37.5,37.5,37.4,37.7,37.9,37.5,38.1,38.0,37.9,37.8
Hungary,39.9,39.8,39.9,39.8,39.7,39.5,39.5,39.6,39.6,39.5
Malta,38.7,38.8,39.0,39.2,39.8,39.8,39.3,39.0,39.0,39.1
Netherlands,30.4,30.6,30.6,30.7,30.8,30.6,31.5,31.7,31.6,31.6
Austria,36.9,36.8,36.7,36.7,36.7,36.6,36.1,35.9,35.9,35.7
Poland,40.9,40.8,40.6,40.6,40.5,40.3,40.4,40.4,40.2,40.1
Portugal,40.1,39.9,40.0,40.0,39.9,39.7,39.9,39.9,39.8,39.7
Romania,40.0,40.0,39.9,39.8,40.0,39.9,40.2,40.2,40.1,40.0
Slovenia,39.4,39.5,39.3,39.4,39.6,39.6,39.6,39.5,39.4,39.4
Slovakia,40.3,40.1,39.9,40.1,40.2,40.0,39.6,39.6,39.6,39.5
Finland,37.2,37.0,37.1,37.2,37.0,36.9,35.9,35.7,35.7,35.9
Sweden,36.8,36.9,36.8,36.9,36.9,36.8,38.4,38.4,38.3,38.3
Iceland,39.8,39.5,39.3,39.4,39.3,38.6,38.3,38.2,38.3,38.1
Norway,33.9,34.0,34.1,34.0,33.9,33.9,34.4,34.5,34.5,34.7
Switzerland,35.4,35.3,35.3,35.3,35.2,35.2,36.1,36.1,36.1,36.0
United Kingdom,37.1,37.0,37.0,36.9,37.0,NaN,NaN,NaN,NaN,NaN
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,41.6,41.8,41.9,41.7
Montenegro,43.7,43.4,43.3,44.2,44.5,44.4,NaN,NaN,NaN,NaN
North Macedonia,41.9,41.7,42.5,42.3,41.5,40.9,NaN,NaN,NaN,NaN
Serbia,43.6,43.4,43.0,43.0,42.8,42.7,43.1,43.0,42.6,42.2
Türkiye,47.6,47.0,46.6,45.9,45.6,44.7,45.3,45.1,45.0,44.2

In [18]:
(
    work_df
    .iloc[2:]
    .set_axis(pd.to_datetime(work_df.columns, format='%Y'), axis='columns')    
)

,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01,2023-01-01,2024-01-01
Belgium,37.1,37.1,37.6,37.3,37.3,37.3,36.7,36.7,36.4,36.2
Bulgaria,40.9,40.8,40.8,40.7,40.5,40.4,40.4,40.2,40.1,40.0
Czechia,40.7,40.6,40.4,40.4,40.3,40.2,39.7,39.8,39.6,39.4
Denmark,33.9,33.7,33.7,33.7,33.5,33.6,34.6,34.4,33.9,33.5
Germany,35.5,35.5,35.4,35.4,35.3,35.2,35.3,35.2,34.9,34.8
Estonia,39.0,38.8,38.8,38.6,38.4,38.2,38.0,37.8,37.7,37.8
Ireland,35.9,35.9,36.3,36.5,36.5,36.6,36.2,36.3,35.8,35.7
Greece,42.2,42.2,42.0,42.0,41.7,41.7,41.3,41.0,40.9,41.0
Spain,37.8,37.8,37.7,37.7,37.5,37.5,37.4,37.7,37.6,37.5
France,37.3,37.4,37.3,37.4,37.5,37.5,37.0,37.2,37.2,37.1
Croatia,39.8,39.6,39.8,39.7,39.9,39.8,39.7,39.6,39.8,39.6
Italy,37.1,37.0,37.2,37.3,37.2,37.0,37.3,37.3,37.4,37.2
Cyprus,39.6,39.3,39.4,39.4,39.5,39.3,39.0,39.4,39.8,39.9
Latvia,39.2,38.9,39.0,39.0,38.8,38.8,38.8,39.0,38.9,38.8
Lithuania,38.5,38.6,38.7,38.9,39.0,39.1,39.1,39.2,39.1,39.2
Luxembourg,37.5,37.5,37.4,37.7,37.9,37.5,38.1,38.0,37.9,37.8
Hungary,39.9,39.8,39.9,39.8,39.7,39.5,39.5,39.6,39.6,39.5
Malta,38.7,38.8,39.0,39.2,39.8,39.8,39.3,39.0,39.0,39.1
Netherlands,30.4,30.6,30.6,30.7,30.8,30.6,31.5,31.7,31.6,31.6
Austria,36.9,36.8,36.7,36.7,36.7,36.6,36.1,35.9,35.9,35.7
Poland,40.9,40.8,40.6,40.6,40.5,40.3,40.4,40.4,40.2,40.1
Portugal,40.1,39.9,40.0,40.0,39.9,39.7,39.9,39.9,39.8,39.7
Romania,40.0,40.0,39.9,39.8,40.0,39.9,40.2,40.2,40.1,40.0
Slovenia,39.4,39.5,39.3,39.4,39.6,39.6,39.6,39.5,39.4,39.4
Slovakia,40.3,40.1,39.9,40.1,40.2,40.0,39.6,39.6,39.6,39.5
Finland,37.2,37.0,37.1,37.2,37.0,36.9,35.9,35.7,35.7,35.9
Sweden,36.8,36.9,36.8,36.9,36.9,36.8,38.4,38.4,38.3,38.3
Iceland,39.8,39.5,39.3,39.4,39.3,38.6,38.3,38.2,38.3,38.1
Norway,33.9,34.0,34.1,34.0,33.9,33.9,34.4,34.5,34.5,34.7
Switzerland,35.4,35.3,35.3,35.3,35.2,35.2,36.1,36.1,36.1,36.0
United Kingdom,37.1,37.0,37.0,36.9,37.0,NaN,NaN,NaN,NaN,NaN
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,41.6,41.8,41.9,41.7
Montenegro,43.7,43.4,43.3,44.2,44.5,44.4,NaN,NaN,NaN,NaN
North Macedonia,41.9,41.7,42.5,42.3,41.5,40.9,NaN,NaN,NaN,NaN
Serbia,43.6,43.4,43.0,43.0,42.8,42.7,43.1,43.0,42.6,42.2
Türkiye,47.6,47.0,46.6,45.9,45.6,44.7,45.3,45.1,45.0,44.2

In [ ]:
(
    work_df
    .iloc[2:]
    .set_axis(pd.to_datetime(work_df.columns, format='%Y'), axis='columns')    
    .T
    .resample('3YE').mean()
    .
)

                        2015-12-31  2018-12-31  2021-12-31  2024-12-31
Belgium                       37.1   37.333333   37.100000   36.433333
Bulgaria                      40.9   40.766667   40.433333   40.100000
Czechia                       40.7   40.466667   40.066667   39.600000
Denmark                       33.9   33.700000   33.900000   33.933333
Germany                       35.5   35.433333   35.266667   34.966667
Estonia                       39.0   38.733333   38.200000   37.766667
Ireland                       35.9   36.233333   36.433333   35.933333
Greece                        42.2   42.066667   41.566667   40.966667
Spain                         37.8   37.733333   37.466667   37.600000
France                        37.3   37.366667   37.333333   37.166667
Croatia                       39.8   39.700000   39.800000   39.666667
Italy                         37.1   37.166667   37.166667   37.300000
Cyprus                        39.6   39.366667   39.266667   39.700000
Latvia                        39.2   38.966667   38.800000   38.900000
Lithuania                     38.5   38.733333   39.066667   39.166667
Luxembourg                    37.5   37.533333   37.833333   37.900000
Hungary                       39.9   39.833333   39.566667   39.566667
Malta                         38.7   39.000000   39.633333   39.033333
Netherlands                   30.4   30.633333   30.966667   31.633333
Austria                       36.9   36.733333   36.466667   35.833333
Poland                        40.9   40.666667   40.400000   40.233333
Portugal                      40.1   39.966667   39.833333   39.800000
Romania                       40.0   39.900000   40.033333   40.100000
Slovenia                      39.4   39.400000   39.600000   39.433333
Slovakia                      40.3   40.033333   39.933333   39.566667
Finland                       37.2   37.100000   36.600000   35.766667
Sweden                        36.8   36.866667   37.366667   38.333333
Iceland                       39.8   39.400000   38.733333   38.200000
Norway                        33.9   34.033333   34.066667   34.566667
Switzerland                   35.4   35.300000   35.500000   36.066667
United Kingdom                37.1   36.966667   37.000000         NaN
Bosnia and Herzegovina         NaN         NaN   41.600000   41.800000
Montenegro                    43.7   43.633333   44.450000         NaN
North Macedonia               41.9   42.166667   41.200000         NaN
Serbia                        43.6   43.133333   42.866667   42.600000
Türkiye                       47.6   46.500000   45.200000   44.766667

In [20]:
(
    work_df
    .iloc[2:]
    .set_axis(pd.to_datetime(work_df.columns, format='%Y'), axis='columns')    
    .T
    .resample('3YE').mean()
    .T
    .pct_change(axis='columns', fill_method=None)
    .map(lambda x: f'{x:0.2%}')
)

                       2015-12-31 2018-12-31 2021-12-31 2024-12-31
Belgium                      nan%      0.63%     -0.62%     -1.80%
Bulgaria                     nan%     -0.33%     -0.82%     -0.82%
Czechia                      nan%     -0.57%     -0.99%     -1.16%
Denmark                      nan%     -0.59%      0.59%      0.10%
Germany                      nan%     -0.19%     -0.47%     -0.85%
Estonia                      nan%     -0.68%     -1.38%     -1.13%
Ireland                      nan%      0.93%      0.55%     -1.37%
Greece                       nan%     -0.32%     -1.19%     -1.44%
Spain                        nan%     -0.18%     -0.71%      0.36%
France                       nan%      0.18%     -0.09%     -0.45%
Croatia                      nan%     -0.25%      0.25%     -0.34%
Italy                        nan%      0.18%      0.00%      0.36%
Cyprus                       nan%     -0.59%     -0.25%      1.10%
Latvia                       nan%     -0.60%     -0.43%      0.26%
Lithuania                    nan%      0.61%      0.86%      0.26%
Luxembourg                   nan%      0.09%      0.80%      0.18%
Hungary                      nan%     -0.17%     -0.67%      0.00%
Malta                        nan%      0.78%      1.62%     -1.51%
Netherlands                  nan%      0.77%      1.09%      2.15%
Austria                      nan%     -0.45%     -0.73%     -1.74%
Poland                       nan%     -0.57%     -0.66%     -0.41%
Portugal                     nan%     -0.33%     -0.33%     -0.08%
Romania                      nan%     -0.25%      0.33%      0.17%
Slovenia                     nan%      0.00%      0.51%     -0.42%
Slovakia                     nan%     -0.66%     -0.25%     -0.92%
Finland                      nan%     -0.27%     -1.35%     -2.28%
Sweden                       nan%      0.18%      1.36%      2.59%
Iceland                      nan%     -1.01%     -1.69%     -1.38%
Norway                       nan%      0.39%      0.10%      1.47%
Switzerland                  nan%     -0.28%      0.57%      1.60%
United Kingdom               nan%     -0.36%      0.09%       nan%
Bosnia and Herzegovina       nan%       nan%       nan%      0.48%
Montenegro                   nan%     -0.15%      1.87%       nan%
North Macedonia              nan%      0.64%     -2.29%       nan%
Serbia                       nan%     -1.07%     -0.62%     -0.62%
Türkiye                      nan%     -2.31%     -2.80%     -0.96%