In [24]:
import pandas as pd
import numpy as np
from pandas import Series
from pandas import DataFrame

In [2]:
pd.to_datetime('now')

Timestamp('2025-01-06 22:49:33.419411')

In [9]:
s = Series(['1970-07-14', '1972-03-01', '2000-12-16',
    '2002-12-17', '2005-10-31'])
s

0    1970-07-14
1    1972-03-01
2    2000-12-16
3    2002-12-17
4    2005-10-31
dtype: object

In [10]:
pd.to_datetime(s)

0   1970-07-14
1   1972-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [11]:
s = Series(['1970-Jul-14', '1972-Mar-01', '2000-Dec-16',
    '2002-Dec-17', '2005-Oct-31'])
pd.to_datetime(s)

0   1970-07-14
1   1972-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [12]:
s = Series(['14-Jul-1970', '01-Mar-1972', '16-Dec-2000',
    '17-Dec-2002', '31-Oct-2005'])
pd.to_datetime(s)

0   1970-07-14
1   1972-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [13]:
s = Series(['14-07-1970', '01-03-1972', '16-12-2000',
    '17-12-2002', '31-10-2005'])
pd.to_datetime(s)

C:\Users\dqthi\AppData\Local\Temp\ipykernel_10936\1653053148.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(s)

0   1970-07-14
1   1972-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [14]:
s = Series(['01/03/1972', '05/12/1995'])
pd.to_datetime(s)

0   1972-01-03
1   1995-05-12
dtype: datetime64[ns]

In [19]:
s = Series(['01/03/1972', '05/12/1995'])
pd.to_datetime(s, dayfirst=False)

0   1972-01-03
1   1995-05-12
dtype: datetime64[ns]

In [20]:
s = Series(['01/03/1972', '05/12/1995'])
pd.to_datetime(s, dayfirst=True)

0   1972-03-01
1   1995-12-05
dtype: datetime64[ns]

In [22]:
s = Series(['1970-07-14 8:00', '1972-03-01 10:00 pm',
    '2000-12-16 12:15:28', '2002-12-17 18:17', '2005-10-31 23:51'])
pd.to_datetime(s, format='mixed')

0   1970-07-14 08:00:00
1   1972-03-01 22:00:00
2   2000-12-16 12:15:28
3   2002-12-17 18:17:00
4   2005-10-31 23:51:00
dtype: datetime64[ns]

In [25]:
df = DataFrame([s.split('-')
                for s in ['14-07-1970', '01-03-1971',
                   '16-12-2000', '17-12-2002',
                   '31-10-2005']],
          columns='day month year'.split())
pd.to_datetime(df[['year', 'month', 'day']])

0   1970-07-14
1   1971-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [27]:
s = Series(['1970-07-14 8:00', '1972-03-01 10:00 pm',
            '2000-12-16 12:15:28', '2002-12-17 18:17',
            '2005-10-31 23:51'])
s = pd.to_datetime(s, format='mixed')
pd.to_datetime('2021-July-01') - s

0   18614 days 16:00:00
1   18018 days 02:00:00
2    7501 days 11:44:32
3    6770 days 05:43:00
4    5721 days 00:09:00
dtype: timedelta64[ns]

In [28]:
pd.to_timedelta('2 days 3:20:10').components

Components(days=2, hours=3, minutes=20, seconds=10, milliseconds=0, microseconds=0, nanoseconds=0)

In [33]:
filepath = r"C:\Users\dqthi\Downloads\pandas-workout-data\data\nyc_taxi_2019-07.csv"

df = pd.read_csv(filepath,
                 usecols=['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance','total_amount'],
                 parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [34]:
df

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,4.94
1,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.16,20.30
2,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.80,70.67
3,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.46,66.36
4,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.70,15.30
...,...,...,...,...,...
6310414,2019-07-29 16:34:53,2019-07-29 16:53:20,NaN,3.86,29.00
6310415,2019-07-29 16:07:57,2019-07-29 17:26:41,NaN,15.48,54.43
6310416,2019-07-29 16:01:31,2019-07-29 17:15:38,NaN,12.92,65.40
6310417,2019-07-29 16:58:00,2019-07-29 17:42:00,NaN,7.12,43.00
6310418,2019-07-29 16:16:00,2019-07-29 16:33:00,NaN,1.77,22.15

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310419 entries, 0 to 6310418
Data columns (total 5 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float64
 3   trip_distance          float64
 4   total_amount           float64
dtypes: datetime64[ns](2), float64(3)
memory usage: 240.7 MB

In [39]:
df['trip_time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']

In [40]:
df

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
0,2019-07-01 00:51:04,2019-07-01 00:51:33,1.0,0.00,4.94,0 days 00:00:29
1,2019-07-01 00:46:04,2019-07-01 01:05:46,1.0,4.16,20.30,0 days 00:19:42
2,2019-07-01 00:25:09,2019-07-01 01:00:56,1.0,18.80,70.67,0 days 00:35:47
3,2019-07-01 00:33:32,2019-07-01 01:15:27,1.0,18.46,66.36,0 days 00:41:55
4,2019-07-01 00:00:55,2019-07-01 00:13:05,0.0,1.70,15.30,0 days 00:12:10
...,...,...,...,...,...,...
6310414,2019-07-29 16:34:53,2019-07-29 16:53:20,NaN,3.86,29.00,0 days 00:18:27
6310415,2019-07-29 16:07:57,2019-07-29 17:26:41,NaN,15.48,54.43,0 days 01:18:44
6310416,2019-07-29 16:01:31,2019-07-29 17:15:38,NaN,12.92,65.40,0 days 01:14:07
6310417,2019-07-29 16:58:00,2019-07-29 17:42:00,NaN,7.12,43.00,0 days 00:44:00
6310418,2019-07-29 16:16:00,2019-07-29 16:33:00,NaN,1.77,22.15,0 days 00:17:00

In [54]:
condition = pd.to_timedelta('0 days :1 :00')

In [42]:
condition.components

Components(days=0, hours=0, minutes=1, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)

In [51]:
df['trip_time'][df['trip_time'] < condition].count() / df['trip_time'].count() *100

1.1126361022936828

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310419 entries, 0 to 6310418
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float64
 3   trip_distance          float64
 4   total_amount           float64
 5   trip_time              timedelta64[ns]
dtypes: datetime64[ns](2), float64(3), timedelta64[ns](1)
memory usage: 288.9 MB

In [53]:
df['total_amount'][df['trip_time'] < condition].mean()

30.397584031219733

In [55]:
condition2 = pd.to_timedelta('0 days 10:00:00')

In [56]:
condition2.components

Components(days=0, hours=10, minutes=0, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)

In [59]:
df['trip_time'][df['trip_time'] > condition2].count()

16698

In [61]:
df['trip_time'][df['trip_time'] > condition2].count() / df['trip_time'].count() * 100

0.2646100045020782

In [62]:
df.loc[
    df['trip_time'] < '1 minute',
    'trip_time'
    ].count()

70212

In [63]:
df.loc[
    df['trip_time'] < '1 minute',
    'total_amount'
    ].mean()

30.397584031219733

In [64]:
df['trip_time_group'] = (
    pd.cut(
           df['trip_time'],
           bins=[pd.to_timedelta(arg)
                 for arg in ['0 seconds',
                             '10 minutes',
                             '1 hour',
                             '100 hours']],
          labels=['short', 'medium', 'long'])
)

In [65]:
df['trip_time_group']

0           short
1          medium
2          medium
3          medium
4          medium
            ...
6310414    medium
6310415      long
6310416      long
6310417    medium
6310418    medium
Name: trip_time_group, Length: 6310419, dtype: category
Categories (3, object): ['short' < 'medium' < 'long']

In [66]:
df.groupby('trip_time_group')['passenger_count'].mean()

C:\Users\dqthi\AppData\Local\Temp\ipykernel_10936\1308424108.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('trip_time_group')['passenger_count'].mean()

trip_time_group
short     1.552411
medium    1.585806
long      1.700859
Name: passenger_count, dtype: float64