In [5]:
import pandas as pd
from pandas import DataFrame
import glob
from pathlib import Path

Take the eight CSV files I’ve provided, containing weather data from eight different cities (spanning four states), and turn them into a data frame. The files are san+francisco,ca.csv, new+york,ny.csv, springfield,ma.csv, boston,ma.csv, springfield,il.csv, albany,ny.csv, los+angeles,ca.csv, and chicago,il.csv.

We are only interested in the first three columns from each CSV file: the date and time, the max temperature, and the min temperature.

Add city and state columns that contain the city and state from the filename and allow us to distinguish between rows.

In [6]:
all_dfs = []

glob_path = Path(r"C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31")
files = glob.glob(str(glob_path) + '.csv')

# print(files)

for one_filename in files :
    # print(f'Loading {one_filename}...')
    city, state = (
        one_filename
        .removeprefix('../data/')
        .removesuffix('.csv')
        .split(',')
    )

    print (city)
    print (state)

    # one_df = (
    #     pd
    #     .read_csv(one_filename,
    #               usecols=[0, 1, 2],
    #               names=['date_time', 'max_temp',
    #                      'min_temp'],
    #               header=0)
    #     .assign(city=city.replace('+', ' ').title(),
    #             state=state.upper())
    # )

    # all_dfs.append(one_df)

In [7]:
import os

In [8]:
folder_path = r"C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31"
files = os.listdir(folder_path)

for one_file in files:
    city, state = (
        one_filename
        .removeprefix('../data/')
        .removesuffix('.csv')
        .split(',')
    )
    print (city)
    print (state)

NameError: name 'one_filename' is not defined

In [9]:
import os
import pandas as pd

folder_path = r"C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31"
files = os.listdir(folder_path)

# Initialize list to store all dataframes
all_dfs = []

# Process each file
for one_file in files:
    if one_file.endswith('.csv'):
        # Create full file path
        full_file_path = os.path.join(folder_path, one_file)
        
        # Get city and state from filename
        name_part = one_file.removesuffix('.csv')
        if ',' in name_part:
            city, state = name_part.split(',')
            
            # Read the CSV file
            one_df = (
                pd.read_csv(
                    full_file_path,
                    usecols=[0, 1, 2],
                    names=['date_time', 'max_temp', 'min_temp'],
                    header=0
                )
                .assign(
                    city=city.replace('+', ' ').title(),
                    state=state.upper()
                )
            )
            
            all_dfs.append(one_df)
            print(f"Processed {city}, {state}")
        else:
            print(f"Warning: Skipping file with invalid name format: {one_file}")

# Combine all dataframes
if all_dfs:
    final_df = pd.concat(all_dfs, ignore_index=True)
    print("\nFinal dataframe shape:", final_df.shape)
    print("\nFirst few rows:")
    print(final_df.head())
else:
    print("No valid files were processed")

Processed albany, ny
Processed boston, ma
Processed chicago, il
Processed los+angeles, ca
Processed new+york, ny
Processed san+francisco, ca
Processed springfield, il
Processed springfield, ma

Final dataframe shape: (5824, 5)

First few rows:
             date_time  max_temp  min_temp    city state
0  2018-12-11 00:00:00        -2        -8  Albany    NY
1  2018-12-11 03:00:00        -2        -8  Albany    NY
2  2018-12-11 06:00:00        -2        -8  Albany    NY
3  2018-12-11 09:00:00        -2        -8  Albany    NY
4  2018-12-11 12:00:00        -2        -8  Albany    NY

In [10]:
for one_file in files:
    if one_file.endswith('.csv'):
        # Create full file path
        full_file_path = os.path.join(folder_path, one_file)
        print (folder_path)
        print (one_file)
        print (full_file_path)

C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
albany,ny.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\albany,ny.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
boston,ma.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\boston,ma.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
chicago,il.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\chicago,il.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
los+angeles,ca.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\los+angeles,ca.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
new+york,ny.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\new+york,ny.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
san+francisco,ca.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\san+francisco,ca.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
springfield,il.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\springfield,il.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31
springfield,ma.csv
C:\Users\dqthi\Downloads\pandas-workout-data\data\ex31\springfield,ma.csv

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  5824 non-null   object
 1   max_temp   5824 non-null   int64
 2   min_temp   5824 non-null   int64
 3   city       5824 non-null   object
 4   state      5824 non-null   object
dtypes: int64(2), object(3)
memory usage: 227.6+ KB

note:  
- review the process of making this file 

# load the necessary library  

# Initialize list to store all dataframes

# Process each file

# Combine all dataframes

whether the data for each city and state starts at roughly the same time. How can we know such a thing

persudo: 
- using pivot table to load the index `data_time` value, having the columns as `city`

In [12]:
(
    final_df.groupby(['state', 'city'])['date_time'].min()
    .sort_values()
)

state  city
CA     Los Angeles      2018-12-11 00:00:00
       San Francisco    2018-12-11 00:00:00
IL     Chicago          2018-12-11 00:00:00
       Springfield      2018-12-11 00:00:00
MA     Boston           2018-12-11 00:00:00
       Springfield      2018-12-11 00:00:00
NY     Albany           2018-12-11 00:00:00
       New York         2018-12-11 00:00:00
Name: date_time, dtype: object

In [ ]:
# the code above get the minimum value of `data_time` for each distinct combination of `state` and `city`

In [13]:
(
    final_df.groupby(['state', 'city'])['date_time'].max()
    .sort_values()
)

state  city
CA     Los Angeles      2019-03-11 21:00:00
       San Francisco    2019-03-11 21:00:00
IL     Chicago          2019-03-11 21:00:00
       Springfield      2019-03-11 21:00:00
MA     Boston           2019-03-11 21:00:00
       Springfield      2019-03-11 21:00:00
NY     Albany           2019-03-11 21:00:00
       New York         2019-03-11 21:00:00
Name: date_time, dtype: object

In [21]:
(
    final_df.groupby(['state', 'city'])['date_time']
    .agg(['min', 'max'])
)

                                     min                  max
state city
CA    Los Angeles    2018-12-11 00:00:00  2019-03-11 21:00:00
      San Francisco  2018-12-11 00:00:00  2019-03-11 21:00:00
IL    Chicago        2018-12-11 00:00:00  2019-03-11 21:00:00
      Springfield    2018-12-11 00:00:00  2019-03-11 21:00:00
MA    Boston         2018-12-11 00:00:00  2019-03-11 21:00:00
      Springfield    2018-12-11 00:00:00  2019-03-11 21:00:00
NY    Albany         2018-12-11 00:00:00  2019-03-11 21:00:00
      New York       2018-12-11 00:00:00  2019-03-11 21:00:00

to find the lowest minimum temperature recorded for each city in our data set

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  5824 non-null   object
 1   max_temp   5824 non-null   int64
 2   min_temp   5824 non-null   int64
 3   city       5824 non-null   object
 4   state      5824 non-null   object
dtypes: int64(2), object(3)
memory usage: 227.6+ KB

In [16]:
(
    final_df.groupby(['state', 'city'])['min_temp'].min()
)

state  city
CA     Los Angeles       4
       San Francisco     3
IL     Chicago         -28
       Springfield     -25
MA     Boston          -14
       Springfield     -20
NY     Albany          -19
       New York        -14
Name: min_temp, dtype: int64

to find the highest maximum temperature recorded during this period, but on a per-state basis rather than a per-city basic

In [18]:
(
    final_df.groupby(['state', 'date_time'])['max_temp'].max()
)

state  date_time
CA     2018-12-11 00:00:00    20
       2018-12-11 03:00:00    20
       2018-12-11 06:00:00    20
       2018-12-11 09:00:00    20
       2018-12-11 12:00:00    20
                              ..
NY     2019-03-11 09:00:00     6
       2019-03-11 12:00:00     6
       2019-03-11 15:00:00     6
       2019-03-11 18:00:00     6
       2019-03-11 21:00:00     6
Name: max_temp, Length: 2912, dtype: int64

In [19]:
(
    final_df.groupby(['state'])['max_temp'].max()
)

state
CA    23
IL    16
MA    17
NY    15
Name: max_temp, dtype: int64

In [20]:
(
    final_df.groupby(['date_time', 'state' ])['max_temp'].max()
)

date_time            state
2018-12-11 00:00:00  CA       20
                     IL        5
                     MA        1
                     NY        4
2018-12-11 03:00:00  CA       20
                              ..
2019-03-11 18:00:00  NY        6
2019-03-11 21:00:00  CA       19
                     IL        3
                     MA        8
                     NY        6
Name: max_temp, Length: 2912, dtype: int64

Run describe on the minimum and maximum temperature for each state-city combination

In [23]:
final_df.groupby(['state', 'city'])[['min_temp', 'max_temp']].describe()

                    min_temp                                               \
                       count       mean       std   min   25%   50%   75%
state city
CA    Los Angeles      728.0  10.637363  2.705200   4.0   9.0  11.0  12.0
      San Francisco    728.0   8.252747  2.021036   3.0   7.0   8.0  10.0
IL    Chicago          728.0  -5.076923  6.255857 -28.0  -9.0  -4.0  -1.0
      Springfield      728.0  -4.857143  6.508184 -25.0  -8.0  -5.0  -1.0
MA    Boston           728.0  -3.142857  4.957195 -14.0  -6.0  -3.0   0.0
      Springfield      728.0  -6.032967  5.384681 -20.0 -10.0  -6.0  -2.0
NY    Albany           728.0  -5.956044  5.599984 -19.0 -10.0  -6.0  -2.0
      New York         728.0  -1.054945  5.025082 -14.0  -4.0   0.0   2.0

                          max_temp                                         \
                      max    count       mean       std   min   25%   50%
state city
CA    Los Angeles    17.0    728.0  17.054945  2.708640  12.0  15.0  16.0
      San Francisco  13.0    728.0  12.604396  1.437399   9.0  12.0  13.0
IL    Chicago         6.0    728.0  -0.736264  6.128985 -25.0  -3.0   0.0
      Springfield    10.0    728.0   2.076923  6.273423 -20.0  -2.0   2.0
MA    Boston          9.0    728.0   2.868132  4.945277 -12.0   0.0   2.0
      Springfield     6.0    728.0   1.472527  5.266678 -16.0  -2.0   2.0
NY    Albany          7.0    728.0   0.362637  5.294136 -14.0  -3.0   0.0
      New York       12.0    728.0   4.208791  4.619238 -12.0   2.0   4.0


                      75%   max
state city
CA    Los Angeles    19.0  23.0
      San Francisco  14.0  15.0
IL    Chicago         3.0   9.0
      Springfield     7.0  16.0
MA    Boston          6.0  17.0
      Springfield     4.0  15.0
NY    Albany          4.0  13.0
      New York        7.0  15.0

In [24]:
final_df.groupby(['min_temp', 'max_temp'])[['state', 'city']].describe()

                  state                  city
                  count unique top freq count unique          top freq
min_temp max_temp
-28      -25          8      1  IL    8     8      1      Chicago    8
-27      -17          8      1  IL    8     8      1      Chicago    8
-25      -20          8      1  IL    8     8      1  Springfield    8
-22      -7           8      1  IL    8     8      1  Springfield    8
-20      -15          8      1  IL    8     8      1      Chicago    8
...                 ...    ...  ..  ...   ...    ...          ...  ...
 15       21          8      1  CA    8     8      1  Los Angeles    8
          22          8      1  CA    8     8      1  Los Angeles    8
          23          8      1  CA    8     8      1  Los Angeles    8
 16       20          8      1  CA    8     8      1  Los Angeles    8
 17       23          8      1  CA    8     8      1  Los Angeles    8

[288 rows x 8 columns]

What is the average difference in temperature (i.e., max – min) for each of the cities in our data set?

pseudocode: 
 - create a new column that perfrom (max - min) tempureture 
 - groupby city with average of the variance

In [25]:
final_df['daily_temp_var'] = final_df['max_temp'] - final_df['min_temp']

In [26]:
final_df.groupby(['state', 'city'])['daily_temp_var'].mean()

state  city
CA     Los Angeles      6.417582
       San Francisco    4.351648
IL     Chicago          4.340659
       Springfield      6.934066
MA     Boston           6.010989
       Springfield      7.505495
NY     Albany           6.318681
       New York         5.263736
Name: daily_temp_var, dtype: float64

# Window functions

In [31]:
df = DataFrame({'sales':[100, 150, 200, 250,
                200, 150, 300, 400,
                500, 100, 300, 200],
            'quarters':'Q1 Q2 Q3 Q4'.split()*3})

In [32]:
df

    sales quarters
0     100       Q1
1     150       Q2
2     200       Q3
3     250       Q4
4     200       Q1
5     150       Q2
6     300       Q3
7     400       Q4
8     500       Q1
9     100       Q2
10    300       Q3
11    200       Q4

In [33]:
df['sales'].sum()

2850

This returns a series whose values are the cumulative sum of values in sales up to that point

In [39]:
df['sales'].expanding().sum()

0      100.0
1      250.0
2      450.0
3      700.0
4      900.0
5     1050.0
6     1350.0
7     1750.0
8     2250.0
9     2350.0
10    2650.0
11    2850.0
Name: sales, dtype: float64

rolling is how we indicate that we want to run a rolling window function, and the argument 3 indicates that we want three rows in each window. We thus invoke mean on rows 0-2, then 1-3, then 2-4, then 3-5, and so on. The series we get back from this call puts the result of mean in the same location as the third (and final) row in our rolling window. This means row indexes 0 and 1 have NaN values.

In [42]:
df['sales'].rolling(3).mean()

0            NaN
1            NaN
2     150.000000
3     200.000000
4     216.666667
5     200.000000
6     216.666667
7     283.333333
8     400.000000
9     333.333333
10    300.000000
11    200.000000
Name: sales, dtype: float64

A third type of window function is pct_change. When we run this on a series, we get back a new series with NaN at row index 0. The remaining rows indicate the percentage change from the previous row to the current one

In [43]:
df['sales'].pct_change()

0          NaN
1     0.500000
2     0.333333
3     0.250000
4    -0.200000
5    -0.250000
6     1.000000
7     0.333333
8     0.250000
9    -0.800000
10    2.000000
11   -0.333333
Name: sales, dtype: float64