In [1]:
import requests
import sys 
import os 
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', '..')))
from credential import FMP_API_KEY
import pandas as pd

In [2]:
url = "https://financialmodelingprep.com/api/v3/income-statement/AAPL"
params = {
    "period": "annual",
    "limit": 10,
    "apikey": FMP_API_KEY
}

r = requests.get(url, params=params, timeout=30)
data = r.json()
print(data)

[{'date': '2024-09-28', 'symbol': 'AAPL', 'reportedCurrency': 'USD', 'cik': '0000320193', 'fillingDate': '2024-11-01', 'acceptedDate': '2024-11-01 06:01:36', 'calendarYear': '2024', 'period': 'FY', 'revenue': 391035000000, 'costOfRevenue': 210352000000, 'grossProfit': 180683000000, 'grossProfitRatio': 0.4620634982, 'researchAndDevelopmentExpenses': 31370000000, 'generalAndAdministrativeExpenses': 0, 'sellingAndMarketingExpenses': 0, 'sellingGeneralAndAdministrativeExpenses': 26097000000, 'otherExpenses': 0, 'operatingExpenses': 57467000000, 'costAndExpenses': 267819000000, 'interestIncome': 0, 'interestExpense': 0, 'depreciationAndAmortization': 11445000000, 'ebitda': 134661000000, 'ebitdaratio': 0.3443707085, 'operatingIncome': 123216000000, 'operatingIncomeRatio': 0.3151022287, 'totalOtherIncomeExpensesNet': 269000000, 'incomeBeforeTax': 123485000000, 'incomeBeforeTaxRatio': 0.3157901467, 'incomeTaxExpense': 29749000000, 'netIncome': 93736000000, 'netIncomeRatio': 0.2397125577, 'eps': 6.11, 'epsdiluted': 6.08, 'weightedAverageShsOut': 15343783000, 'weightedAverageShsOutDil': 15408095000, 'link': 'https://www.sec.gov/Archives/edgar/data/320193/000032019324000123/0000320193-24-000123-index.htm', 'finalLink': 'https://www.sec.gov/Archives/edgar/data/320193/000032019324000123/aapl-20240928.htm'}, {'date': '2023-09-30', 'symbol': 'AAPL', 'reportedCurrency': 'USD', 'cik': '0000320193', 'fillingDate': '2023-11-03', 'acceptedDate': '2023-11-02 18:08:27', 'calendarYear': '2023', 'period': 'FY', 'revenue': 383285000000, 'costOfRevenue': 214137000000, 'grossProfit': 169148000000, 'grossProfitRatio': 0.4413112958, 'researchAndDevelopmentExpenses': 29915000000, 'generalAndAdministrativeExpenses': 0, 'sellingAndMarketingExpenses': 0, 'sellingGeneralAndAdministrativeExpenses': 24932000000, 'otherExpenses': 0, 'operatingExpenses': 54847000000, 'costAndExpenses': 268984000000, 'interestIncome': 3750000000, 'interestExpense': 3933000000, 'depreciationAndAmortization': 11519000000, 'ebitda': 125820000000, 'ebitdaratio': 0.3282674772, 'operatingIncome': 114301000000, 'operatingIncomeRatio': 0.2982141227, 'totalOtherIncomeExpensesNet': -565000000, 'incomeBeforeTax': 113736000000, 'incomeBeforeTaxRatio': 0.2967400237, 'incomeTaxExpense': 16741000000, 'netIncome': 96995000000, 'netIncomeRatio': 0.2530623426, 'eps': 6.16, 'epsdiluted': 6.13, 'weightedAverageShsOut': 15744231000, 'weightedAverageShsOutDil': 15812547000, 'link': 'https://www.sec.gov/Archives/edgar/data/320193/000032019323000106/0000320193-23-000106-index.htm', 'finalLink': 'https://www.sec.gov/Archives/edgar/data/320193/000032019323000106/aapl-20230930.htm'}, {'date': '2022-09-24', 'symbol': 'AAPL', 'reportedCurrency': 'USD', 'cik': '0000320193', 'fillingDate': '2022-10-28', 'acceptedDate': '2022-10-27 18:01:14', 'calendarYear': '2022', 'period': 'FY', 'revenue': 394328000000, 'costOfRevenue': 223546000000, 'grossProfit': 170782000000, 'grossProfitRatio': 0.4330963056, 'researchAndDevelopmentExpenses': 26251000000, 'generalAndAdministrativeExpenses': 0, 'sellingAndMarketingExpenses': 0, 'sellingGeneralAndAdministrativeExpenses': 25094000000, 'otherExpenses': 0, 'operatingExpenses': 51345000000, 'costAndExpenses': 274891000000, 'interestIncome': 2825000000, 'interestExpense': 2931000000, 'depreciationAndAmortization': 11104000000, 'ebitda': 133138000000, 'ebitdaratio': 0.3376326307, 'operatingIncome': 119437000000, 'operatingIncomeRatio': 0.302887444, 'totalOtherIncomeExpensesNet': -334000000, 'incomeBeforeTax': 119103000000, 'incomeBeforeTaxRatio': 0.3020404333, 'incomeTaxExpense': 19300000000, 'netIncome': 99803000000, 'netIncomeRatio': 0.2530964071, 'eps': 6.15, 'epsdiluted': 6.11, 'weightedAverageShsOut': 16215963000, 'weightedAverageShsOutDil': 16325819000, 'link': 'https://www.sec.gov/Archives/edgar/data/320193/000032019322000108/0000320193-22-000108-index.htm', 'finalLink': 'https://www.sec.gov/Archives/edgar/data/320193/000032019322000108/aapl-20220924.htm'}, {'date': '2021-09-25', 'symbol': 'AAPL', 'reportedCurrency': 'USD', 'cik': '0000320193', 'fillingDate': '2021-10-29', 'acceptedDate': '2021-10-28 18:04:28', 'calendarYear': '2021', 'period': 'FY', 'revenue': 365817000000, 'costOfRevenue': 212981000000, 'grossProfit': 152836000000, 'grossProfitRatio': 0.4177935963, 'researchAndDevelopmentExpenses': 21914000000, 'generalAndAdministrativeExpenses': 0, 'sellingAndMarketingExpenses': 0, 'sellingGeneralAndAdministrativeExpenses': 21973000000, 'otherExpenses': 0, 'operatingExpenses': 43887000000, 'costAndExpenses': 256868000000, 'interestIncome': 2843000000, 'interestExpense': 2645000000, 'depreciationAndAmortization': 11284000000, 'ebitda': 123136000000, 'ebitdaratio': 0.3366054612, 'operatingIncome': 108949000000, 'operatingIncomeRatio': 0.2978237753, 'totalOtherIncomeExpensesNet': 258000000, 'incomeBeforeTax': 109207000000, 'incomeBeforeTaxRatio': 0.2985290459, 'incomeTaxExpense': 14527000000, 'netIncome': 94680000000, 'netIncomeRatio': 0.2588179336, 'eps': 5.67, 'epsdiluted': 5.61, 'weightedAverageShsOut': 16701272000, 'weightedAverageShsOutDil': 16864919000, 'link': 'https://www.sec.gov/Archives/edgar/data/320193/000032019321000105/0000320193-21-000105-index.htm', 'finalLink': 'https://www.sec.gov/Archives/edgar/data/320193/000032019321000105/aapl-20210925.htm'}, {'date': '2020-09-26', 'symbol': 'AAPL', 'reportedCurrency': 'USD', 'cik': '0000320193', 'fillingDate': '2020-10-30', 'acceptedDate': '2020-10-29 18:06:25', 'calendarYear': '2020', 'period': 'FY', 'revenue': 274515000000, 'costOfRevenue': 169559000000, 'grossProfit': 104956000000, 'grossProfitRatio': 0.3823324773, 'researchAndDevelopmentExpenses': 18752000000, 'generalAndAdministrativeExpenses': 0, 'sellingAndMarketingExpenses': 0, 'sellingGeneralAndAdministrativeExpenses': 19916000000, 'otherExpenses': 0, 'operatingExpenses': 38668000000, 'costAndExpenses': 208227000000, 'interestIncome': 3763000000, 'interestExpense': 2873000000, 'depreciationAndAmortization': 11056000000, 'ebitda': 81020000000, 'ebitdaratio': 0.2951386992, 'operatingIncome': 66288000000, 'operatingIncomeRatio': 0.2414731435, 'totalOtherIncomeExpensesNet': 803000000, 'incomeBeforeTax': 67091000000, 'incomeBeforeTaxRatio': 0.2443983025, 'incomeTaxExpense': 9680000000, 'netIncome': 57411000000, 'netIncomeRatio': 0.2091361128, 'eps': 3.31, 'epsdiluted': 3.28, 'weightedAverageShsOut': 17352119000, 'weightedAverageShsOutDil': 17528214000, 'link': 'https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/0000320193-20-000096-index.htm', 'finalLink': 'https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/aapl-20200926.htm'}]

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2024-09-28,AAPL,USD,0000320193,2024-11-01,2024-11-01 06:01:36,2024,FY,391035000000,210352000000,...,0.315790,29749000000,93736000000,0.239713,6.11,6.08,15343783000,15408095000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,2023-09-30,AAPL,USD,0000320193,2023-11-03,2023-11-02 18:08:27,2023,FY,383285000000,214137000000,...,0.296740,16741000000,96995000000,0.253062,6.16,6.13,15744231000,15812547000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,2022-09-24,AAPL,USD,0000320193,2022-10-28,2022-10-27 18:01:14,2022,FY,394328000000,223546000000,...,0.302040,19300000000,99803000000,0.253096,6.15,6.11,16215963000,16325819000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,2021-09-25,AAPL,USD,0000320193,2021-10-29,2021-10-28 18:04:28,2021,FY,365817000000,212981000000,...,0.298529,14527000000,94680000000,0.258818,5.67,5.61,16701272000,16864919000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,2020-09-26,AAPL,USD,0000320193,2020-10-30,2020-10-29 18:06:25,2020,FY,274515000000,169559000000,...,0.244398,9680000000,57411000000,0.209136,3.31,3.28,17352119000,17528214000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

## Data cleaning
- ~~remove unncessary columns: `fillingDate`, `acceptedDate`, `period`, `date`, `symbol`, `reportedCurrency`, `cik`, `link`, `fina`~~   - done
- ~~display value in as proper format~~  - done 
- ~~tranform the data from width to height~~ - done

In [8]:
df.drop(columns=['fillingDate', 'acceptedDate', 'period', 'date', 'symbol', 'reportedCurrency', 'cik', 'link', 'finalLink'], inplace=True)

In [9]:
df

,calendarYear,revenue,costOfRevenue,grossProfit,grossProfitRatio,researchAndDevelopmentExpenses,generalAndAdministrativeExpenses,sellingAndMarketingExpenses,sellingGeneralAndAdministrativeExpenses,otherExpenses,...,totalOtherIncomeExpensesNet,incomeBeforeTax,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil
0,2024,391035000000,210352000000,180683000000,0.462063,31370000000,0,0,26097000000,0,...,269000000,123485000000,0.315790,29749000000,93736000000,0.239713,6.11,6.08,15343783000,15408095000
1,2023,383285000000,214137000000,169148000000,0.441311,29915000000,0,0,24932000000,0,...,-565000000,113736000000,0.296740,16741000000,96995000000,0.253062,6.16,6.13,15744231000,15812547000
2,2022,394328000000,223546000000,170782000000,0.433096,26251000000,0,0,25094000000,0,...,-334000000,119103000000,0.302040,19300000000,99803000000,0.253096,6.15,6.11,16215963000,16325819000
3,2021,365817000000,212981000000,152836000000,0.417794,21914000000,0,0,21973000000,0,...,258000000,109207000000,0.298529,14527000000,94680000000,0.258818,5.67,5.61,16701272000,16864919000
4,2020,274515000000,169559000000,104956000000,0.382332,18752000000,0,0,19916000000,0,...,803000000,67091000000,0.244398,9680000000,57411000000,0.209136,3.31,3.28,17352119000,17528214000

In [10]:
df_format = df.melt(
    id_vars=["calendarYear"],        # keep the year fixed
    var_name="Metric",               # new column for metric names
    value_name="Value"               # new column for metric values
)

In [36]:
df_format

    calendarYear                    Metric         Value
0           2024                   revenue  3.910350e+11
1           2023                   revenue  3.832850e+11
2           2022                   revenue  3.943280e+11
3           2021                   revenue  3.658170e+11
4           2020                   revenue  2.745150e+11
..           ...                       ...           ...
135         2024  weightedAverageShsOutDil  1.540810e+10
136         2023  weightedAverageShsOutDil  1.581255e+10
137         2022  weightedAverageShsOutDil  1.632582e+10
138         2021  weightedAverageShsOutDil  1.686492e+10
139         2020  weightedAverageShsOutDil  1.752821e+10

[140 rows x 3 columns]

In [37]:
df_revenue = df_format[df_format['Metric'] == 'revenue']
df_revenue

  calendarYear   Metric         Value
0         2024  revenue  3.910350e+11
1         2023  revenue  3.832850e+11
2         2022  revenue  3.943280e+11
3         2021  revenue  3.658170e+11
4         2020  revenue  2.745150e+11

In [38]:
df_revenue['value_billion'] = df_revenue['Value']/100_000_000
df_revenue['value_billion'] = df_revenue['value_billion'].map("{:,.2f}".format)
df_revenue

C:\Users\dqthi\AppData\Local\Temp\ipykernel_22016\4090961083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_revenue['value_billion'] = df_revenue['Value']/100_000_000
C:\Users\dqthi\AppData\Local\Temp\ipykernel_22016\4090961083.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_revenue['value_billion'] = df_revenue['value_billion'].map("{:,.2f}".format)

  calendarYear   Metric         Value value_billion
0         2024  revenue  3.910350e+11      3,910.35
1         2023  revenue  3.832850e+11      3,832.85
2         2022  revenue  3.943280e+11      3,943.28
3         2021  revenue  3.658170e+11      3,658.17
4         2020  revenue  2.745150e+11      2,745.15

In [39]:
df_revenue['Value'] = df_revenue['Value'].map("{:,.0f}".format)

C:\Users\dqthi\AppData\Local\Temp\ipykernel_22016\2178844341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_revenue['Value'] = df_revenue['Value'].map("{:,.0f}".format)

In [32]:
df_revenue.drop(columns=['value'], inplace=True)

C:\Users\dqthi\AppData\Local\Temp\ipykernel_22016\3156467338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_revenue.drop(columns=['value'], inplace=True)

In [ ]:
df_revenue = df_revenue['Value'].map(":,.0f".format)

In [40]:
df_revenue

  calendarYear   Metric            Value value_billion
0         2024  revenue  391,035,000,000      3,910.35
1         2023  revenue  383,285,000,000      3,832.85
2         2022  revenue  394,328,000,000      3,943.28
3         2021  revenue  365,817,000,000      3,658.17
4         2020  revenue  274,515,000,000      2,745.15

# To follow up:  
- try writing a function that appy value formatting (e.i add comma between thousand) to the select list of columns